venv/
# Database file
*.duckdb
*.duckdb.wal
.env
# Python cache files
__pycache__/
*.pyc
*.pyo
# dbt
.dbt/
target/
dbt_packages/
logs/
profiles.yml
package-lock.yml
packages.yml
.user.yml
.tmp_dagster_home_hez82w9w/
